<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Websites</title>
  </head>
  <body>
    {{> header}}

    <!-- 먼저 helper를 부르고 뒤에 argument를 쓰면 됨 -->
    <p>{{scremIt welcomeMessage}}</p>
    
    {{> footer}}
  </body>
</html>
